<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Back to Home</a>
    <h1>About Page</h1>
    <p>The proposal of this page is create a web page using the framework express for node</p>
    <p>This exercise is part of Ironhack Web Dev part-time training.</p>
    <p>All information provided at this page is collected from Wikipedia, the free encyclopedia</p>
</body>
</html>