<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Back to Home</a>
    <h1>Career</h1>
    <p>Kisser started performing in 1984 in a three-piece band called Esfinge, which he formed with school friends and where he played guitar and sang. The band played essentially covers of heavy metal bands such as Black Sabbath, Ozzy Osbourne, Iron Maiden, Venom and Metallica. Two years later the band renamed itself Pestilence and, in 1987, recorded a demo called Slaves of Pain. The songs on the demo were afterwards reused by Sepultura in their albums Schizophrenia and Beneath the Remains. Pestilence was, however, short-lived and ultimately split up.[6]</p>
    <h2>Sepultura</h2>
    <p>In 1987, Kisser met the members of Sepultura and went to see the band play live while he was on a vacation trip to Belo Horizonte. On the day of the concert he joined the band as an improvised roadie for vocalist/guitarist Max Cavalera. He also jammed with the members during the intermissions. Following the departure of original lead guitarist Jairo Guedes, Kisser auditioned for the position of lead guitarist.[7] The same year he performed with the band for the first time in Caruaru, Pernambuco and recorded the album Schizophrenia.[8] His involvement in Sepultura helped shape the band's evolving sound.[9] Max Cavalera said of him:

        "... he brought new ideas and influences into Sepultura. The result was Schizophrenia."
        
        On Schizophrenia and Beneath the Remains, Kisser co-wrote the lyrics with Max, whereas the whole band wrote the music. For Arise and thereafter Kisser began to write songs of his own. Kisser has also occasionally provided backing vocals both live and on the records. He also fronted the band in 1996, at the Castle Donington Monsters of Rock festival, when Max Cavalera was forced to absent himself in order to attend the funeral of his stepson Dana Wells.</p>
    <h3>Sepultura's formations</h3>
    <h4>First</h4>
    <img src="/images/first.jpg" alt="First">
    <h4>Last</h4>
    <img src="/images/last.jpg" alt="last">
</body>
</html>