<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Back to Home</a>
    <h1>Galeria de fotos</h1>
    <section>
        <div><img src="../images/pic1.jpg" alt="pic1"></div>
        <div><img src="../images/pic2.jpg" alt="pic2"></div>
        <div><img src="../images/pic3.jpg" alt="pic3"></div>
        <div><img src="../images/pic4.jpg" alt="pic4"></div>
        <div><img src="../images/pic5.jpg" alt="pic5"></div>
    </section>
</body>
</html>